
.mainDonaciones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  border-radius: 200%;
  }

.imagen-ungo{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 16px;
width: 100%;
align-content: cover;
}

.imagen-ungo img{
 width: 500px;
 filter: drop-shadow(5px 2px 5px  #3a3838)
}

.rolo1 img{
  position: relative;
  height: 150vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)),url("../assets/images/Donaciones/jjj.jpeg ");;
  background-position: center;
  background-size: cover;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(10,1fr);
  grid-template-rows: repeat(B, 1fr);
}

.rolo1 {
  grid-column: 7 / 10;
  grid-row: 3 / 7;
  color: #fff;
  z-index: 1;
}

.rolo1 h1 {
  color:#be001f;
  font-weight: bolder;
  font-style: italic;
  font-size: 2vw;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.rolo1 p {
  color:#fff;
  font-weight: bolder;
  text-align: center;
  font-size: 1.2em;
  font-family: Arial, Helvetica, sans-serif;
}

.rolo1 button{
  justify-content: center;
  align-items: center;
  background: #ff9500;
  color: #fff;
  margin: 5px;
  font-size: 3vh;
  font-weight: bolder;
  font-style: italic;
  font-family:Arial, Helvetica, sans-serif;
  border-radius: 8px ;
  padding: 8px 28px;
  border: 1px solid #ff9500;
}

.rolo1 button :hover {
  background: #ff9500;
  color: #fff;
  margin: 5px;
  font-size: 3vh;
  font-weight: bolder;
  font-style: italic;
  font-family:Arial, Helvetica, sans-serif;
  border-radius: 8px ;
  padding: 8px 28px;
  border: 1px solid #be001f;
  transition: all ease-in-out 300ms;
}


.title-donaciones h1{
  color: #be001f; /* #ffb91b #ff9500 #be001f paleta de colores*/
  text-align: center;
  font-weight: bolder; /* letra mas pesada */
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;

}

.subtitulo h1{
  color: #be001f; /* #ffb91b #ff9500 #be001f paleta de colores*/
  text-align: center;
  font-weight: bolder; /* letra mas pesada */
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}

.introduccion p{
  text-align: center;
  font-weight: bolder; /* letra mas pesada */
  font-family: Arial, Helvetica, sans-serif; 
}

.form-donaciones{
  box-shadow: 3px 2px 3px  #131111;
  padding: 1rem ;
  border-radius: 10px ;
  width: 400px;
  display: flex;
  flex-direction: column; /* colocar texto en columnas */
  gap: 1rem;
  align-items: center;
  
}


.form-donaciones button{
  display: flexbox;
  justify-content: center;
  align-items: center;
  background: #ff9500;
  margin: 22px;
  font-size: 4vh;
  font-weight: bolder;
  font-style: italic;
  font-family:Arial, Helvetica, sans-serif;
  border-radius: 15px;
  padding: 5px 15px;
  border: 1px solid #ff930a;
  color: #fff;
}

.input-box {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.input-box input{
  border-radius: 5px;
  width: 100%;
  padding: 4px 8px;
}

.entrada-check{
  display: flex;
  width: 100vw;
  height: 100vh;
  background-position: center;
  align-content: cover;
  align-items: center;
  padding: 25ex , 0.25vmax;
  border-radius: 500em;
  overflow: hidden;
}

@keyframes slide {
  0% { margin-left: 0; }
  20% { margin-left: 0; }

  25% { margin-left:-100%; }
  45% { margin-left:-100%; }

  50% { margin-left:-200%; }
  70% { margin-left:-200%; }

  75% { margin-left:-300%; }
  100% { margin-left:-300%; }
}

@media (max-width:700px){
  header{
      flex-direction: column;
  }
  nav{
      padding: 10px 0pxx;
  }
  body{
    padding: 30px;
  }
  .slider-box{
    width: 100%;
  }
  .textoc{
    top: 50px;
    padding: 0 25px;
  }
  .textoc h2{
    font-size: 35px;
    margin-bottom: 15px;
  }
  .textoc p{
    font-size: 15px;
  }
}
