.mainDonaciones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  border-radius: 200%;
  }

.imagen-ungo{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 16px;
width: 100%;
align-content: cover;
}

.imagen-ungo img{
 width: 250px;
 filter: drop-shadow(5px 2px 5px  #3a3838)
}

.title-donaciones h1{
  color: #be001f; /* #ffb91b #ff9500 #be001f paleta de colores*/
  text-align: center;
  font-weight: bolder; /* letra mas pesada */
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;

}

.subtitulo h1{
  color: #be001f; /* #ffb91b #ff9500 #be001f paleta de colores*/
  text-align: center;
  font-weight: bolder; /* letra mas pesada */
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}

.introduccion p{
  text-align: center;
  font-weight: bolder; /* letra mas pesada */
  font-family: Arial, Helvetica, sans-serif; 
}

.form-donaciones{
  box-shadow: 3px 2px 3px  #3a3838;
  padding: 1rem ;
  border-radius: 10px ;
  width: 400px;
  display: flex;
  flex-direction: column; /* colocar texto en columnas */
  gap: 1rem;
  align-items: center;
}

.form-donaciones button{
  padding: .5rem 2rem;
  background: #000;
  color: aliceblue;
  font-weight: 700;
  width: 200px;
}

.input-box {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.input-box input{
  border-radius: 5px;
  width: 100%;
  padding: 4px 8px;
}

.entrada-check{
  display: flex;
  width: 100vw;
  height: 100vh;
  background-position: center;
  align-content: cover;
  align-items: center;
  padding: 25ex , 0.25vmax;
  border-radius: 500em;
  overflow: hidden;
}

@media (max-width:700px){
  header{
      flex-direction: column;
  }
  nav{
      padding: 10px 0pxx;
  }
}
