*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background-color: #3a3838;
}

.slider-box{
  width: 1280px;
  height: auto;
  margin: 50px auto 0;
  overflow: hidden;
}

.slider-box ul{
  display: flex;
  padding: 0;
  width: 400%;
  animation: slide 20s infinite alternate ease-in-out;
}

.slider-box li{
  width: 100%;
  list-style: none;
  position: relative;
}

.textoc{
  position: absolute;
  text-align: center;
  padding: 0 250px;
  top: 205px;
  color: #f8f7f5;
}

.texto h2{
font-size: 45px;
margin-bottom: 35px;
}

.slider-box img{
  width: 100%;
}

.mainDonaciones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  border-radius: 200%;
  }

.imagen-ungo{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 16px;
width: 100%;
align-content: cover;
}

.imagen-ungo img{
 width: 250px;
 filter: drop-shadow(5px 2px 5px  #3a3838)
}

.title-donaciones h1{
  color: #ffb91f; /* #ffb91b #ff9500 #be001f paleta de colores*/
  text-align: center;
  font-weight: bolder; /* letra mas pesada */
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;

}

.subtitulo h1{
  color: #ffb91f; /* #ffb91b #ff9500 #be001f paleta de colores*/
  text-align: center;
  font-weight: bolder; /* letra mas pesada */
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}

.introduccion p{
  text-align: center;
  font-weight: bolder; /* letra mas pesada */
  font-family: Arial, Helvetica, sans-serif; 
}

.form-donaciones{
  box-shadow: 3px 2px 3px  #3a3838;
  padding: 1rem ;
  border-radius: 10px ;
  width: 400px;
  display: flex;
  flex-direction: column; /* colocar texto en columnas */
  gap: 1rem;
  align-items: center;
}

.form-donaciones button{
  padding: .5rem 2rem;
  background: #000;
  color: aliceblue;
  font-weight: 700;
  width: 200px;
}

.input-box {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.input-box input{
  border-radius: 5px;
  width: 100%;
  padding: 4px 8px;
}

.entrada-check{
  display: flex;
  width: 100vw;
  height: 100vh;
  background-position: center;
  align-content: cover;
  align-items: center;
  padding: 25ex , 0.25vmax;
  border-radius: 500em;
  overflow: hidden;
}

@keyframes slide {
  0% { margin-left: 0; }
  20% { margin-left: 0; }

  25% { margin-left:-100%; }
  45% { margin-left:-100%; }

  50% { margin-left:-200%; }
  70% { margin-left:-200%; }

  75% { margin-left:-300%; }
  100% { margin-left:-300%; }
}

@media (max-width:700px){
  header{
      flex-direction: column;
  }
  nav{
      padding: 10px 0pxx;
  }
  body{
    padding: 30px;
  }
  .slider-box{
    width: 100%;
  }
  .textoc{
    top: 50px;
    padding: 0 25px;
  }
  .textoc h2{
    font-size: 35px;
    margin-bottom: 15px;
  }
  .textoc p{
    font-size: 15px;
  }
}
