.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  background: #000;
  color: #fff;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.footer nav {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: center;
}

.footer nav ul {
  display: flex;
}

.footer nav ul li {
  text-decoration: none;
}

.footer nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 3px;
}

.footer nav ul li a:hover {
  color: #000;
  border-radius: 5px;
  background: #fff;
}

.nav-bar img {
  height: 2.3rem;
}

.redes {
  display: flex;
  gap: 20px;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }

  .nav-bar img {
    height: 1.5rem;
  }

  .footer nav ul {
    flex-direction: column;
  }

  .footer nav ul li {
    margin: 10px;
    display: block;
    border-bottom: 1px solid #fff;
  }

  .footer nav ul li a {
    padding: 10px;
  }
}
